<input type="search" ng-model="search" class="search-query input-lg" placeholder="Search">
<table class="table table-hover" >
  <thead>
	  <tr>
		<th>Namespace</th>
		<th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
	  </tr>
  </thead>
  <tbody>
	  <tr ng-repeat="application in applications | filter:search | orderBy:'namespace'">
		<td data-toggle="tooltip" data-placement="bottom" title="{{application.namespace}}">{{application.namespace}}</td>
		<td>
		  <!--<a href="#/view/{{application.namespace}}"><i class="glyphicon glyphicon-eye-open"></i></a>-->
		  <a href="#/edit/{{application.namespace}}"><i class="glyphicon glyphicon-edit"></i></a>
		</td>
	  </tr>
  </tbody>
</table>